In [ ]:
import pandas as pd

text = ""
with open('./input.txt', 'r') as file:
    text = file.read()

text = text.splitlines()

data = [[int(x) for x in row.split()] for row in text]

data = pd.DataFrame(data)

      0   1   2   3   4     5     6     7
0    71  73  74  76  78  80.0  77.0   NaN
1    78  81  84  87  87   NaN   NaN   NaN
2    37  40  43  46  50   NaN   NaN   NaN
3    12  13  15  17  18  19.0  21.0  27.0
4     4   5   2   4   5   6.0   NaN   NaN
..   ..  ..  ..  ..  ..   ...   ...   ...
995  20  22  24  26  29  31.0  32.0  33.0
996  57  56  53  50  47  44.0   NaN   NaN
997  59  62  64  66  68   NaN   NaN   NaN
998  68  70  73  75  77   NaN   NaN   NaN
999  35  33  30  27  26  25.0  24.0  23.0

[1000 rows x 8 columns]

In [ ]:
import numpy as np

points = [(i, y[i]) for row in data for i, y in enumerate(row)]

TypeError: 'int' object is not subscriptable